<div class="px-[22px] flex space-x-[35px]">
  <!-- Image -->
  <img
    [src]="layout.image_path_blob"
    [alt]="layout.alt_text"
    width="1227"
    height="510"
    class="max-w-[1227px] w-full max-h-[510px] h-full"
  />
  <!-- TEXT -->
  <div class="py-[120px] px-[100px] flex flex-col justify-center text-center items-center space-y-[60px]">
    <div class="w-full font-SfRegular text-[20px] font-bold">
      {{ layout.title }}
    </div>
    <div class="w-full font-SfRegular text-[20px] font-normal">
      {{ layout.description }}
    </div>
  </div>
</div>
