<div
  (mouseenter)="hoverOn()"
  (mouseleave)="hoverOff()"
  class="flex justify-between max-w-full w-full h-[80px] bg-white items-center px-[22px] top-navbar z-[999]"
  [class.fixed]="!isEdit"
  [class.top-navbar]="!isEdit"
  [class.z-[999]]="!isEdit"
>
  <div class="nav-logo">
    <img src="../../../../assets/HCP-Logo-376150.png" class="h-[36px]" />
  </div>

  <div class="flex sm:space-x-[32px] space-x-[10px] items-center">
    @if (isEdit === false && showBtn) {
    <app-button btnLabel="Publish" (btnClick)="onPublish()"></app-button>
    <app-button btnLabel="Edit" (btnClick)="onPreview()"></app-button>
    } @if (isSidebar == true) {
    <img class="h-[24px]" src="../../../../assets/search.png" />
    <img
      (click)="toogleClick()"
      class="h-[24px] cursor-pointer"
      src="../../../../assets/Xmark.1024.png"
    />
    } @else {
    <img class="h-[24px]" src="../../../../assets/search.png" />
    <img
      (click)="toogleClick()"
      class="h-[24px] cursor-pointer"
      src="../../../../assets/Hamburger.png"
    />
    }
  </div>
</div>
