<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
<div class="flex flex-col space-y-10 h-[150vh]">
  <div class="flex justify-between w-full h-[50px] px-[22px] items-center">
    <div class="font-sans font-bold text-[20px]">
      HCP WEBSITE CMS - Dashboard 2024
    </div>
    <div class="space-x-4"></div>
  </div>

  <div class="px-[22px] p-4 flex justify-center items-center">
    <div class="w-[700px] h-[750px] border rounded-md">
      <div class="card">
        <p-treeTable
          [value]="files"
          [columns]="cols"
          selectionMode="multiple"
          [(selection)]="selectedNodes"
          dataKey="name"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Pages</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
              <td class="w-full flex justify-between items-center">
                <div>
                  <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                  {{ rowData.name }}
                </div>
                <div class="flex items-center gap-2">
                @if (rowData.type === "EDIT") {
                <p-button
                  icon="pi pi-pencil"
                  [rounded]="true"
                  [outlined]="true"
                  (onClick)="naviagate(rowData.url)"
                ></p-button>
                @if(rowData.project_id){
                  <p-button
                  icon="pi pi-trash"
                  [rounded]="true"
                  [outlined]="true"
                  (onClick)="deleteProject(rowData)"
                ></p-button>
                }
                } @else if (rowData.type === "ADD") {
                <p-button
                  icon="pi pi-plus"
                  [rounded]="true"
                  [outlined]="true"
                  (onClick)="openClosePopup(rowData.project)"
                ></p-button>
                }
              </div>
              </td>
            </tr>
          </ng-template>
        </p-treeTable>
        <div class="h-[40px] rounded-md w-full bg-[#f9fafb]"></div>
      </div>
    </div>
  </div>
  <p-dialog
    header="Add Project Page"
    [modal]="true"
    [(visible)]="isVisible"
    [style]="{ width: '25rem' }"
    draggable="false"
  >
    <div class="space-y-10 h-[80px] flex flex-col justify-between">
      <p>Project Name</p>
      <input
        id="project-name"
        type="text"
        pInputText
        size="small"
        class="w-full !max-h-[40px]"
        (input)="chnageProjectName($event)"
      />
    </div>
    <div class="flex mt-4 justify-end items-center">
      <app-button (btnClick)="popUpNavigate('')" btnLabel="OK"></app-button>
    </div>
  </p-dialog>
  <router-outlet></router-outlet>
</div>
